body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.content {
    max-width:300px;
    margin:0 auto;
    padding:40px;
}

.vertical-menu {
    background-color: black;
    color:white;
    text-align: right;
    padding-right:10px;
}